
@{
    ViewBag.Title = "KetQua";
}

<link rel="stylesheet" type="text/css" href="~/wwwroot/Cau2Style.css" />

<h2>Kết quả - câu 2</h2>

<table border="1" cellpadding="0" cellspacing="0">
    <tr>
        <td class="title">Mã nhân viên: </td>
        <td class="kq">@Model.MaNV</td>
    </tr>
    <tr>
        <td class="title">Họ tên: </td>
        <td class="kq">@Model.HoTen</td>
    </tr>
    <tr>
        <td class="title">Thu nhập: </td>
        <td class="kq">@Model.ThuNhap</td>
    </tr>
</table>